body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--main-back-color);
}

i {
  cursor: pointer;
  color: var(--main-icon-color);
}

button {
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
}

.top-margin {
  padding-top: 6rem;
  width: 100%;
  height: calc(100vh - 5em);
  overflow-y: auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: var(--sub-back-color);
}
header > h1 {
  font-size: 2rem;
  line-height: 5rem;
  color: var(--main-text-color);
}

main {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.container > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container > ul > li {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.4em 0;
  padding-right: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.7em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.15em 0.05em rgb(121, 121, 121);
  background-color: #2d3436;
}
.container > ul > li > div {
  flex: 1;
  font-weight: bold;
  color: var(--main-text-color);
}
.title {
  white-space: pre-line;
}
.container > ul > li > div > span {
  display: inline;
  color: var(--sub-text-color);
  font-size: 0.99rem;
  line-height: 0.99rem;
}

.container > ul > li > span {
  font-size: 1.5rem;
  padding: 0.3em;
}
.icons > i.fas.fa-edit {
  margin-right: 0.2em;
}

section {
  width: 100%;
}
section > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section > form > input {
  all: unset;
  width: 90%;
  border-bottom: 1px solid var(--main-text-color);
  font-size: 1.2rem;
  padding: 0.3rem;
  margin-bottom: 0.5em;
  color: var(--main-text-color);
}
section > form > input::placeholder {
  color: var(--sub-text-color);
}
section > form > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
section > form > div > button {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 2em;
  padding: 0.5em 1.5em;
  margin-top: 0.7em;
  color: var(--main-bg-color);
}
.add {
  background-color: var(--main-text-color);
}
.cancel {
  background-color: var(--sub-back-color);
  color: var(--main-text-color);
}

.add:hover {
  background-color: var(--add-hover-color);
}
.cancel:hover {
  background-color: var(--cancel-hover-color);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5em;
  background-color: var(--sub-back-color);
  color: var(--sub-icon-color);
}
footer > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer > ul > li {
  font-size: 1.6rem;
  line-height: 1.6rem;
  padding: 0.5rem;
}

.hidden {
  display: none;
}
